<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RiotGamesAPIConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RiotGamesAPIConsole.Properties.Settings>
            <setting name="ApiKey" serializeAs="String">
                <value>RGAPI-9507e559-f403-46f2-88bf-3b164c358371</value>
            </setting>
        </RiotGamesAPIConsole.Properties.Settings>
    </userSettings>
</configuration>